/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
}

html, body {
    background: #1d1e1a;
    color: #f6f6ef;
    font-family: 'Code New Roman', 'Courier New', 'Courier', monospace;

    height: 100%;
}

#header {
    height: 150px;
}

#header #logo {
    line-height: 1;
    margin: 25px 0 0 20px;
    font-size: 65px;
    display: inline-block;
    float: left;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px 25px;
    border: 7px solid white;
    vertical-align: top;
}

#header #logo:hover {
    background: rgba(255,255,255, .4);
}

#header #logo:active {
    position: relative;
    top: 3px;
    background: yellow;
    color: #333;
}

#header #sponsors {
    margin: 25px 0;
    float: right;
    vertical-align: top;
}

form {
    height: 100%;
}

#header #sponsors img {
    max-height: 110px;
    margin: 0 20px;
    padding: 10px 0 0;
}

#code {
    background: inherit;
    color: inherit;
    font-family: inherit;

    width: 100%;
    padding: 10px 25px;
    border: none;
    height: 100%;
}

#code:focus {
    outline: none;
}

#sponsors .open-assets {
    display: inline-block;
    padding: 8px 10px;
    color: white;
    margin: 16px;
    border: 3px solid white;
    border-radius: 9px;
    text-align: center;
    text-decoration: none;
}
#sponsors .open-assets:hover {
    color: #1D1E1A;
    background: #fff;
}

.assets_panel {
    position: fixed;
    width: 300px;
    bottom: 0;
    overflow-y: scroll;
    top: 0;
    right: 0;
    background: #7B7B7B;
    padding: 10px;
    z-index: 10;
    transition: transform .2s ease-in-out;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
}
.assets_panel.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.assets_panel .asset {
    padding: 10px;
    background: #383838;
    margin-bottom: 10px;
}

.assets_panel .asset .path {
    display: block;
    margin-top: 10px;
}

.assets_panel .close-button {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    font-size: 1.7em;
    border-radius: 6px;
    line-height: 1.1em;
    width: 1.5em;
    text-align: center;
    height: 1.5em;
    padding: 6px;
    margin-bottom: 8px;
    display: inline-block;  
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
